<div class="offer">
    <div class="offer-data">
        <div class="offer-data-left">
            <div class="offer-data-left-img">
                <img src="../../images/century-logo-purple.png" class="offer-data-left-img-pic" alt="">
            </div>
            <p class="offer-data-left-heading">Offer Terms</p>
            <p class="offer-data-left-text">Community Name Hyperlink<br>
                321 Something Avenue<br>
                Hickory, NC 95341</p>
            <p class="offer-data-left-text">Any other location or contact info goes here. Try and keep info in this area
                short. Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="offer-data-left-download">
                <a href="#"><i class="far fa-calendar  offer-data-left-download-img"></i></a>
                <a href="#" class="offer-data-left-download-pdf">Save to Calendar</a>
            </div>
        </div>
        <div class="offer-data-right">

            <h3 class="offer-data-right-offer">This is where your subhead would go, lorem ipsum dolor sit amet,
                consectetur adipiscing elit aenean euismod bibendum laore. </h3>
            <p class="offer-data-right-text">Any event details go here. Leque ornare aenean euismod elementum nisi quis.
                Eget nunc lobortis mattis aliquam. Nisi vitae suscipit tellus mauris. Dui nunc mattis enim ut tellus
                elementum sagittis vitae. Pharetra sit amet aliquam id diam maecenas ultricies. Viverra suspendisse
                potenti nullam ac tortor vitae purus faucibus ornare. Senectus et netus et malesuada fames ac. Faucibus
                vitae aliquet nec ullamcorper sit. Euismod lacinia at quis risus sed vulputate odio. Phasellus
                vestibulum lorem risus.</p>
            <p class="offer-data-right-bttn">Optional CTA goes here</p>
        </div>
    </div>
</div>