<div class="offer">
    <div class="offer-data">
        <div class="offer-data-left">
            <div class="offer-data-left-img">
            <img src="../../images/century-logo-purple.png"  class="offer-data-left-img-pic"alt="">
            </div>
            <p class="offer-data-left-heading">Offer Terms</p>
            <p class="offer-data-left-text">Available on homes<br>
                Signed By 12/12/2020<br>
                Closed By 12/31/2020</p>
                <div class="offer-data-left-download">
                    <a href="#"><i class="fas fa-arrow-down  offer-data-left-download-img"></i></a>
                  <a href="#" class="offer-data-left-download-pdf">Download PDF</a>
                </div>
        </div>
        <div class="offer-data-right">
            <p class="offer-data-right-heading" >Offer title</p>
            <h3 class="offer-data-right-offer">Offer one headline. We’ll match up to $10,000 towards design options* —plus receive up to $3,000 towards closing cost when you build a new home!** </h3>
            <p class="offer-data-right-text">Offer details go here. Leque ornare aenean euismod elementum nisi quis. Eget nunc lobortis mattis aliquam. Nisi vitae suscipit tellus mauris. Dui nunc mattis enim ut tellus elementum sagittis vitae. Pharetra sit amet aliquam id diam maecenas ultricies. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Senectus et netus et malesuada fames ac. Faucibus vitae aliquet nec ullamcorper sit. Euismod lacinia at quis risus sed vulputate odio. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Quis risus sed vulputate odio ut enim blandit. Aenean euismod elementum nisi quis eleifend quam. Tempus urna et pharetra pharetra massa massa ultricies mi. Aliquet lectus proin nibh nisl condimentum id venenatis a condimentum. Ultrices gravida.</p>
            <p class="offer-data-right-bttn">See homes in North Carolina</p>
        </div>
    </div>
</div>