<div class="bg ">
    <div class="bg-pathTwo  container-xl">
        <div class="bg-pathTwo-left">
            <img src="../../images/tab.png" class="bg-pathTwo-left-img" alt="">
        </div>
        <div class="bg-pathTwo-right">
            <h6 class="bg-pathTwo-right-heading">Google nest hub</h6>
            <p class="bg-pathTwo-right-text">Google Assistant speaker with a touchscreen display, enabling
                voice
                control of your connected entertainment and smart home devices. Just start with “Hey Google”…</p>
            <img src="../../images/Group 1762.png" class="bg-pathTwo-right-img" alt="">
        </div>
    </div>


</div>
<ul>
    <li><a>Homebuyers</a>
    <ul>
        <li></li>
    </ul></li>
</ul>