<div class="mimi">
    <div class="mimi-google   container-xl">
        <div class="mimi-google-left">
            <img src="../../images/Intersection 27.png" class="mimi-google-left-img" alt="intresection">
        </div>
        <div class="mimi-google-right">
            <img src="../../images/Group 1761.png" class="mimi-google-right-img" alt="group">
            <p class="mimi-google-right-heading">Make it smarter with Google Home Mini—included with your new Century
                Complete home!</p>
            <p class="mimi-google-right-text">This portable Google Assistant speaker boasts voice compatibility for
                thousands of app-based services and devices.</p>
            <img src="../../images/Group 1762.png" class="mimi-google-right-img2" alt="group">
        </div>
    </div>
</div>