<div  class="bg2">
    <div class="bg2-pathThree   container-xl">
        <div class="bg2-pathThree-left">
            <div class="bg2-pathThree-left-div">

                <h6 class="bg2-pathThree-left-heading">Nexia™ Single-app control</h6>
                <p class="bg2-pathThree-left-text">Automate, monitor and control settings and devices remotely with
                    the
                    Nexia mobile app. Easily connects
                    with voice assistant devices and up to 230 Z-Wave® devices throughout your smart home.</p>
                <div class="bg2-pathThree-left-lower">
                    <i class="fab fa-youtube bg2-pathThree-left-lower-icon"></i>
                    <p class="bg2-pathThree-left-lower-text">Watch Video</p>
                </div>

            </div>
        </div>
        <div class="bg2-pathThree-right">
            <i class="fas fa-play-circle bg2-pathThree-right-i   aa"></i>
        </div>
       <div class="bg2-pathThree-hidden  bb">
        <i class="far fa-times-circle   bg2-pathThree-hidden-icon  ic"></i>
        <iframe width="790" height="420" class="bg2-pathThree-hidden-video" src="https://www.youtube.com/embed/yAoLSRbwxL8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
    </div>

</div>