<div class="pathFour">
    <div class="pathFour-box  container-xl">
        <div class="pathFour-box-data">
            <h5 class="pathFour-box-data-heading">Schlage Electronic Front Door Lock</h5>
            <img src="../../images/image1.png" class="pathFour-box-data-img" alt="">
            <p class="pathFour-box-data-text">Manage your door security from anywhere when paired with the
                Nexia home automation system</p>

            <img src="../../images/Group 1751.png" class=" pathFour-box-data-img1" alt="">
        </div>
        <div class="pathFour-box-data">
            <h5 class="pathFour-box-data-heading">Nexia™ Thermostat</h5>
            <img src="../../images/small-14.png" class="pathFour-box-data-img" alt="">
            <p class="pathFour-box-data-text">Smart thermostat enabled by Nexia™ for integrated smart
                comfort and energy efficiency.</p>
        </div>
        <div class="pathFour-box-data">
            <h5 class="pathFour-box-data-heading">Eaton Light Switches</h5>
            <img src="../../images/image2.png" class="pathFour-box-data-img" alt="">
            <p class="pathFour-box-data-text">Hands-free control of your light switches, even allowing you
                to adjust indoor lighting when away from
                home.</p>


        </div>

    </div>
    <!-- <div class="pathFour-lower ">
        <img src="../../images/Group 1751.png" class="pathFour-lower-img  " alt="">
    </div> -->
</div>