<div class="affiliates">
    <div class="affiliates-our">
        <p class="affiliates-our-heading">Our affiliates</p>
        <div class="affiliates-our-cont">
            <div class="affiliates-our-cont-process">
                <p class="affiliates-our-cont-process-text">Simplify the process with in-house services.</p>
            </div>
            <div class="affiliates-our-cont-data">
                <img src="../../images/bitmap1.png" class="affiliates-our-cont-data-img" alt="">
                <p class="affiliates-our-cont-data-text">Offering a wide range of financing options, Inspire Home Loans will help you secure the best mortgage
                    for your dream home.</p>
                <p class="affiliates-our-cont-data-bold">Learn more </p>
            </div>
            <div class="affiliates-our-cont-data">
                <img src="../../images/bitmap2.png" class="affiliates-our-cont-data-img"  alt="">
                <p class="affiliates-our-cont-data-text">A full-service agency, Parkway Title delivers cost-effective and streamlined title insurance and
                    settlement service solutions.</p>
                <p  class="affiliates-our-cont-data-bold">Learn more </p>
            </div>
            <div class="affiliates-our-cont-data">
                <img src="../../images/bitmap2.png" class="affiliates-our-cont-data-img"  alt="">
                <p class="affiliates-our-cont-data-text">Quick, precise and easy to work with, the full-service team at IHL Home Insurance will find the best
                    coverage to protect your dream home, at the best price.</p>

                <p class="affiliates-our-cont-data-bold">Learn more </p>
            </div>
        </div>
    </div>
</div>