/*================  color  ============================*/

$white:white;
$light-white:#e5e5e5;
$different-white:#fdfdfd;
$white-two:#f7f7f7;
$black:#000000;
$border:#767676;
$black-two:#0a0808;
$light-black:#333;
$grape-purple:#4a104a;
$light-purple:#843f7f;
$dark-purple:#571357;
$brownish-grey:#5a5a5a;
$light-blue:#4bcaf8;
$light-blue-top:#07a9e0;
$cyanblue:#007bff;
$light-gray:#bbbbbb;






/*================  font-family  ========================*/

@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

$CharterITCStd:'Tinos', serif;
$ProximaNova: 'Montserrat', sans-serif;
$Serif: 'PT Serif', serif;




/*===============  font-weight variable  ==================*/

$font-bold:bold;
$font-light:400;
$font-medium:500;
$font-semi-bold:600;
$font-extra-bold:700;
$font-multi-bold:800;
$font-extra-bold:900;
$font-normal:normal;
