<div class="summer">
    <div class="summer-data">
        <div class="summer-data-cont">

            <div class="summer-data-cont-points">
                <p class="summer-data-cont-points-heading">Summer</p>
            

                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Change air conditioning filters</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Check dishwasher for leaks</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Clean home siding</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Care for outdoor furniture, decks, porches,
                        etc.</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Replace leaking shingles</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text"> Rotate ceiling fan counterclockwise</span>
                </div>
               
            </div>
            <div class="summer-data-cont-img">
                <img src="../../images/55662.png" class="summer-data-cont-img-full" alt="">
            </div>
        </div>
        <div class="summer-data-cont left-image-div" >
            

            <div class="summer-data-cont-points">
                <p class="summer-data-cont-points-heading">Fall</p>
            
                
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Clean gutters</span>
                </div>
                
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Rake the lawn</span>
                </div>
                
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Prune back plants</span>
                </div>
                
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Store or cover outdoor furniture and appliances</span>
                </div>
                
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Inspect air ducts</span>
                </div>
                
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Replace smoke detectors batteries</span>
                </div>
                
               
            </div>
           
            <div class="summer-data-cont-img">
                <img src="../../images/93944.png" class="summer-data-cont-img-full" alt="">
            </div>

        </div>
        <div class="summer-data-cont">

            <div class="summer-data-cont-points">
                <p class="summer-data-cont-points-heading">Winter</p>
           
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Check and seal drafty areas with caulk and weather stripping</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Cover exposed pipes</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Change furnace filters</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Clean refrigerator coils</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Clean chimney flue and fireplace</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Rotate direction of ceiling fan clockwise</span>
                </div>
               

            </div>
            <div class="summer-data-cont-img">
                <img src="../../images/1245372.png"  class="summer-data-cont-img-full" alt="">
            </div>
        </div>
        <div class="summer-data-cont left-image-div" >
            

            <div class="summer-data-cont-points">
                <p class="summer-data-cont-points-heading">Spring</p>
         
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Clean gutters</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Wash windows</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Fertilize lawn</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Reseal cracks in the driveway and sidewalk.</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Service the air conditioning unit</span>
                </div>
                <div  class="summer-data-cont-points-unorderList-list">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png" class="summer-data-cont-points-unorderList-list" alt="">
                    <span class="summer-data-cont-points-unorderList-list-text">Seal doors and windows</span>
                </div>
               
            </div>
           
            <div class="summer-data-cont-img">
                <img src="../../images/171044.png" class="summer-data-cont-img-full" alt="">
            </div>

        </div>
    </div>
</div>