<div class="about">
<div class="about-us">
    <p class="about-us-text">About us</p>
</div>

</div>
<!-- built -->
<div class="built">
<div class="built-data">
    <p class="built-data-heading">Built on trust.</p>
    <p class="built-data-text">Since 2002, we’ve been building on our vision of a home for every dream in sought-after metros from coast to coast—specializing in everything from single-family homes to townhomes, condos and flats across 17 states. We also offer a hands-on process—uniquely tailored to your needs and lifestyle—providing guidance on neighborhood amenities, smart home technologies, home loans and more. It’s all about delivering the quality home you’ve been dreaming of.</p>
</div>
</div>