<div class="caring">
    <div  class="caring-img">
        <p class="caring-img-text">Caring for your new home</p>
    </div>
</div>
<div class="Preventative">
    <div  class="Preventative-data">
        <p  class="Preventative-data-heading">Preventative protection all year round.</p>
        <p  class="Preventative-data-text">While modern building standards, materials, and technological advancements ensure that your new home will stand the test of time, it’s important to perform routine maintenance to promote your home functioning as designed.
<br><br>
            Here’s a basic overview of the types of seasonal maintenance you should be doing to keep your home humming.</p>
    </div>
</div>