<div class="huge">
    <div class="huge-summer">
        <div class="huge-summer-box">
            <div class="huge-summer-box-icon">
                <img src="../../images/Group 1731.png" class="huge-summer-box-icon-logo" alt="icon">
                <p class="huge-summer-box-icon-text">Events</p>
            </div>
            <h1 class="huge-summer-box-heading">Grand opening: Cumberland Point, a new community in Gallatin, TN</h1>
            <div class="huge-summer-box-img">
                <img src="../../images/497671.png" class="huge-summer-box-img-summimg" alt="880446">
            </div>
        </div>



    </div>
</div>