<div class="huge">
    <div class="huge-summer">
        <div class="huge-summer-box">
            <div class="huge-summer-box-icon">
                <img src="../../images/icon_special-offer.png" class="huge-summer-box-icon-logo" alt="icon">
                <p class="huge-summer-box-icon-text">special offer</p>
            </div>
            <h1 class="huge-summer-box-heading">Huge summer savings at Century Communities Carolinas!</h1>
            <div class="huge-summer-box-img">
                <img src="../../images/880446 (1).png" class="huge-summer-box-img-summimg" alt="880446">
            </div>
        </div>



    </div>
</div>