<div class="path-data container-xl  ">
    <h3 class="path-data-heading">Meet your new smart home ecosystem.</h3>
    <p class="path-data-text">Enjoy the following in-automation features with your Century Communities
        home—completely included!</p>

    <div class="path-data-group ">
        <img src="../../images/Group 1742.png" class="path-data-group-img" alt="">
        <img src="../../images/Group 1746.png" class="path-data-group-img" alt="">
        <img src="../../images/Rectangle 330 (2).png" class="path-data-group-img" alt="">
        <img src="../../images/Rectangle_331-removebg-preview.png" class="path-data-group-img" alt="">
        <img src="../../images/bestbuy.png" class="path-data-group-img" alt="">
    </div>

</div>