<div class="bestfit">
    <div class="bestfit-brand">
        <div class="bestfit-brand-left">
            <p class="bestfit-brand-left-heading">Our brands</p>
            <p class="bestfit-brand-left-text">Find your best fit with two exceptional brands.</p>

        </div>
        <div class="bestfit-brand-mid">
            <img src="../../images/century-logo-purple.png" class="bestfit-brand-mid-img" alt="">
            <p class="bestfit-brand-mid-text">Our flagship brand, offering everything from single-family floor plans to
                condos and townhomes. Enjoy the
                freedom to build and personalize your new home from the ground up or find the perfect quick move-in
                listing.</p>
            <div class="bestfit-brand-mid-btm">
                <div class="bestfit-brand-mid-btm-top">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png"
                        class="bestfit-brand-mid-btm-top-img" alt="">
                    <p class="bestfit-brand-mid-btm-top-text">To-be-built and quick move-in homes</p>
                </div>
                <div class="bestfit-brand-mid-btm-mid">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png"
                        class="bestfit-brand-mid-btm-mid-img" alt="">
                    <p class="bestfit-brand-mid-btm-mid-text">Full smart home package</p>
                </div>
                <div class="bestfit-brand-mid-btm-last">
                    <img src="../../images/Interface-Essential _ Form-Validation _ check-circle-1.png"
                        class="bestfit-brand-mid-btm-last-img" alt="">
                    <p class="bestfit-brand-mid-btm-last-text">Ability to reserve online</p>
                </div>
            </div>
        </div>
        <div class="bestfit-brand-last">

            <img src="../../images/cmp_logo_aboutus_502x74.svg" class="bestfit-brand-last-img" alt="">
            <p class="bestfit-brand-last-text">Affordable and streamlined, Century Complete offers built-in savings
                through a groundbreaking online purchase process and a versatile selection of quick move-in homes.
                Complete quality, complete convenience.</p>
            <div class="bestfit-brand-last-btm">
                <div class="bestfit-brand-last-btm-top">
                    <img src="../../images/Interface-Essential (blue).png" class="bestfit-brand-last-btm-top-img"
                        alt="">
                    <p class="bestfit-brand-last-btm-top-text">Quick move-in homes</p>
                </div>
                <div class="bestfit-brand-last-btm-mid">
                    <img src="../../images/Interface-Essential (blue).png"
                        class="bestfit-brand-last-btm-mid-img alt=">
                    <p class=" bestfit-brand-last-btm-mid-text">Starter smart home packages</p>
                </div>
                <div class="bestfit-brand-last-btm-last">
                    <img src="../../images/Interface-Essential (blue).png" class="bestfit-brand-last-btm-last-img"
                        alt="">
                    <p class="bestfit-brand-last-btm-last-text">Ability to buy online</p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>