<div class=" pathseven">

    <div class=" pathseven-box  container-xl">

        <p class=" pathseven-box-text">
            * Dimmers in California communities ONLY.
            <br>
            <br>
            Century Home Connect devices installed in your home that are connected to the internet may collect
            information about you and your use of the device. This automated information is collected, used and
            analyzed by the third-party providers of the devices and is governed by the terms, conditions, policies
            and practices of such third-party providers only. Seller recommends that you carefully review your
            agreements with, and other terms and conditions published by, these third-party providers. Seller does
            not collect any information from these devices about you or your use of the devices. FOLLOW THE
            MANUFACTURERS’ INSTRUCTIONS ON YOUR SMART DEVICES REGARDING SECURITY AND/OR PRIVACY CONCERNS. Purchaser
            is responsible for configuring all security features. Seller does not warrant or represent that any
            Seller-installed “smart” devices or network devices are secure or can prevent all privacy intrusions,
            malware or cyber-attacks, even when correctly configured. Purchaser for himself, or herself, and his/her
            successors and assigns hereby agrees to assume the risk of use of the Century Home Connect devices, any
            devices, products or appliances purchased through Best Buy or its affiliates, and releases Seller and
            its members, managers, officers, employees, affiliates, agents, successors and assigns from any and all
            costs, expenses, damages, liabilities and claims arising from or related thereto. Certain products and
            services are provided by third parties, and not Seller. Seller does not guarantee any equipment or
            services provided by third parties. Seller disclaims any warranty of any kind, express or implied,
            relating to Century Home Connect devices, including without limitation, any warranty of use, fitness of
            use, workmanship or quality. Seller’s disclaimer of warranties does not limit or otherwise affect the
            warranty of any manufacturer or the installer. If a Century Home Connect product malfunctions, or is
            otherwise defective, Purchaser agrees to follow the procedures in the applicable manufacturer’s warranty
            documents. No affiliation or sponsorship is intended or implied with Nexia, Google or Best Buy, and all
            trademarks are owned by the respective trademark owners. Google and Google Nest Hub are trademarks of
            Google LLC. Devices may not arrive in original or retail packaging and are not intended for individual
            resale. ©2019 Century Communities, Inc.
        </p>
    </div>
</div>
