<div class="tablur">
    <div class="tablur-data container">
        <table class="tablur-data-table">
            <tr class="tablur-data-table-row">
                <th class="tablur-data-table-row-heading">Category</th>
                <th class="tablur-data-table-row-heading">What we may collect</th>
                <th class="tablur-data-table-row-heading">How collected</th>
                <th class="tablur-data-table-row-heading">Reason for collection</th>
            </tr>
            <tr class="tablur-data-table-row">
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text" class="">Category</p>
                    <p>Identifiers</p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">What we may collect</p>
                    <p>
                        First name, last name, telephone numbers,
                        e-mail address, postal address, social security number, driver’s license number, and Online
                        ID.</p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        How collected
                    </p>
                    <p>
                        Through the website, in-person, written in a
                        completed form, application or other written correspondence, web chat, by telephone, and/or
                        a third-party survey company.</p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        Reason for collection
                    </p>
                    <p>
                        To market a service or product to you or
                        complete a transaction for you, marketing and promotional efforts, statistically analyze
                        website usage, improve website content and product offerings and customize website content,
                        layout, and services.</p>
                </td>
            </tr>
            <tr class="tablur-data-table-row">
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">Category</p>
                    <p>
                        Personal information categories listed in
                        the California Customer Records statute (Cal. Civ. Code § 1798.80(e))</p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">What we may collect</p>
                    <p>
                        Name, telephone number, address, social
                        security number, Online ID, industry, preferred method of contact, and emergency contact.
                        Employment status, total annual household income, whether you rent or own, and whether you
                        are pre-qualified for a loan.
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        How collected
                    </p>
                    <p>
                        Through the website, in-person, written in a
                        completed form, application or other written correspondence, web chat, and/or by telephone.</p>

                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        Reason for collection
                    </p>
                    <p>
                        To market a service or product to you or
                        complete a transaction for you, marketing and promotional efforts, statistically analyze
                        website usage, improve website content and product offerings, and customize website content,
                        layout, and services.
                    </p>
                </td>
            </tr>
            <tr class="tablur-data-table-row">
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">Category</p>
                    <p>
                        Purchasing Preferences
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">What we may collect</p>
                    <p>
                        Purchasing preferences, such as area of
                        interest, community of interest, residence of interest, quick move-in of interest, and new
                        home preferences, such as price range, bedrooms, bathrooms, square footage, when would you
                        like to be in your new home, type of home, and other specified amenities.
                        <bR><br>
                        Whether you are relocating, whether you chatted with an online representative, whether your
                        current home listed with a realtor, and preferred appointment date and time.
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        How collected
                    </p>
                    <p>
                        Through the website, in-person, written in a
                        completed form, application or other written correspondence, web chat, and/or by telephone.
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        Reason for collection
                    </p>
                    <p>
                        To market a service or product to you or
                        complete a transaction for you and marketing and promotional efforts
                    </p>
                </td>
            </tr>
            <tr class="tablur-data-table-row">
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">Category</p>
                    <p>
                        Commercial Information
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">What we may collect</p>
                    <p>
                        Loan information and property records.
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        How collected
                    </p>
                    <p>
                        Through the website, in-person, written in a
                        completed form, application or other written correspondence.
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        Reason for collection
                    </p>
                    <p>
                        To market a service or product to you or
                        complete a transaction for you.
                    </p>
                </td>
            </tr>
            <tr class="tablur-data-table-row">
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">Category</p>
                    <p>
                        Internet or other similar network activity
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">What we may collect</p>
                    <p>
                        Internet browsing history, internet search
                        history, and website interaction information
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        How collected
                    </p>
                    <p>
                        Internet browsing history, internet search
                        history, and website interaction informatio
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        Reason for collection
                    </p>
                    <p>
                        To market a service or product to you or
                        complete a transaction for you, marketing and promotional efforts, statistically analyze
                        website usage, improve website content and product offerings and customize website content,
                        layout and services.
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="DISCLOSURES">
    <div class="DISCLOSURES-cont container">
        <div class="DISCLOSURES-cont-team">
            <p class="DISCLOSURES-cont-team-heading">DISCLOSURES OF PERSONAL INFORMATION FOR A BUSINESS
                PURPOSE</p>
            <p class="DISCLOSURES-cont-team-text">We may use or disclose the personal information we
                collect for one or more of the following business
                purposes:</p>
        </div>
    </div>
</div>
</div>
<div class="tablur">
    <div class="tablur-data container">
        <table class="tablur-data-table">
            <tr class="tablur-data-table-row  ">
                <th class="tablur-data-table-row-heading">Category</th>
                <th class="tablur-data-table-row-heading">What we may Disclose</th>
                <th class="tablur-data-table-row-heading">What Kind of Third Parties Do We
                    Disclose Your
                    Information to?</th>
                <th class="tablur-data-table-row-heading">Business Purpose for Disclosure</th>

            </tr>
            <tr class="tablur-data-table-row">
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text" class="">Category</p>
                    <p>Identifiers</p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">What we may Disclose</p>
                    <p>
                        Name, postal address, IP
                        address, and
                        email address.</p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        What Kind of Third Parties Do We
                        Disclose Your
                        Information to?
                    </p>


                    <p>Our customer relationship
                        management
                        software pubvendor, escrow agents, lenders, contractors, subcontractors, Best Buy, service
                        software vendors and our survey company.
                        <br><bR>
                        We may also disclose this information to third party marketing vendors..
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        Business Purpose for Disclosure
                    </p>
                    <p>
                        We disclose this information
                        to our
                        customer relationship management software vendor to assist with our customer relationship
                        management.
                        <br><bR>
                        We disclose contact information to escrow agents and lenders so they know who you are, and
                        how
                        to reach you for the purposes of a transaction between you and Century.
                        <br><bR>
                        We may also disclose contact information to contractors and subcontractors so they can
                        contact
                        you and respond to requests for warranty work.
                        <br><bR>
                        We disclose contact information Best Buy if you decide you want their assistance with smart
                        home
                        automation systems.
                        <br><bR>
                        We disclose contact information to contractors and subcontractors so they can contact you
                        and
                        respond to requests for warranty work.
                        <br><bR>
                        We disclose this information to our resource planning software, sales software, and service
                        software vendors to assist with resource planning, sales efforts, and servicing efforts.
                        <br><bR>
                        We disclose this information to our survey company to assist with our surveys.
                        <br><bR>
                        We disclose this information to third party marketing vendors to assist with our marketing
                        efforts.
                    </p>
                </td>
            </tr>
            <tr class="tablur-data-table-row">
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text" class="">Category</p>
                    <p> Name, social security number,
                        address, telephone number, and employment status.</p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">What we may Disclose</p>
                    <p>
                        Name, social security number,
                        address, telephone number, and employment status
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        What Kind of Third Parties Do We
                        Disclose Your
                        Information to?
                    </p>
                    <p>
                        Our customer relationship
                        management
                        software vendor, escrow agents, lenders, contractors, subcontractors, Best Buy, service
                        software
                        vendors and our survey company.
                        <br><bR>
                        We may also disclose this information to third party marketing vendors, our customer
                        relationship management software vendor, and our home lending software vendors

                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        Business Purpose for Disclosure
                    </p>
                    <p>
                        We disclose contact
                        information to
                        escrow agents and lenders so they know who you are, and how to reach you for the purposes of
                        a
                        transaction between you and Century. We may also disclose contact information to contractors
                        and
                        subcontractors so they can contact you and respond to requests for warranty work. We
                        disclose
                        contact information Best Buy if you decide you want their assistance with smart home
                        automation
                        systems. We disclose contact information to contractors and subcontractors so they can
                        contact
                        you and respond to requests for warranty work. We disclose this information to third party
                        marketing vendors to assist with our marketing efforts. We disclose this information to our
                        customer relationship management software vendor to assist with our customer relationship
                        management. We disclose this information to our home lending software vendors to assist our
                        customers with obtaining loans.
                    </p>
                </td>
            </tr>
            <tr class="tablur-data-table-row">
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text" class="">Category</p>
                    <p>Purchasing Preferences </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">What we may Disclose</p>
                    <p>
                        Purchasing preferences, such as area of interest, community of interest, residence of interest,
                        quick
                        move-in of interest, and new home preferences, such as price range, bedrooms, bathrooms, square
                        footage,
                        when would you like to be in your new home, type of home, and other specified amenities.
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        What Kind of Third Parties Do We
                        Disclose Your
                        Information to?
                    </p>


                    <p>
                        Name, social security number, address, telephone number, and employment status.
                    </p>
                </td>
                <td class="tablur-data-table-row-data">
                    <p class="tablur-data-table-row-data-text">
                        Business Purpose for Disclosure
                    </p>
                    <p>
                        We disclose this information to our resource planning software, sales software, and service
                        software
                        vendors.
                    </p>
                </td>
            </tr>

        </table>
    </div>
</div>