
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading"> CHOICES ABOUT HOW WE USE AND DISCLOSE YOUR INFORMATION</p>
            <p class="privacy-policy-data-text">We strive to provide you with choices regarding the personal information
                you provide to us. We have created mechanisms to provide you with the following control over your
                information:</p>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading"> YOUR CALIFORNIA PRIVACY RIGHTS</p>
            <p class="privacy-policy-data-text"></p> The CCPA provides consumers (California residents) with specific
            rights regarding their personal information. This section describes your CCPA rights and explains how to
            exercise those rights. Access to Specific Information and Data Portability Rights
            <br><br>
            You have the right to request that Century disclose certain information to you about our collection and use
            of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer
            request, we will disclose to you:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> The categories of personal information we
                        collected about you.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">The categories of sources for the personal
                        information we collected about you.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Our business or commercial purpose for
                        collecting or selling that personal information.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">The categories of third parties with whom we
                        share that personal information.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">The specific pieces of personal information we
                        collected about you (also called a data portability request).</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"></p>If we sold or disclosed your personal
                    information for a business purpose, two separate lists disclosing:
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"></p>Sales, identifying the personal information
                    categories that each category of recipient purchased.
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"></p>isclosures for a business purpose,
                    identifying the personal information categories that each category of recipient obtained.
                </li>
            
            </ul>


        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">Deletion Request rights</p>
            <p class="privacy-policy-data-text">You have the right to request that Century delete any of your personal
                information that we collected from you and retained, subject to certain exceptions. Once we receive and
                confirm your verifiable consumer request, we will delete (and direct our service providers to delete)
                your personal information from our records, unless an exception applies.
                <br><br>
                We may deny your deletion request if retaining the information is necessary for us or our service
                provider(s) to:
            </p>
            <p class="privacy-policy-data-number">1. &nbsp;&nbsp;&nbsp; Complete the transaction for which we collected
                the personal information, provide a good or service that you requested, take actions reasonably
                anticipated within the context of our ongoing business relationship with you, or otherwise perform our
                contract with you. </p>
            <p class="privacy-policy-data-number">2. &nbsp;&nbsp;&nbsp; Detect security incidents, protect against
                malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such
                activities. </p>
            <p class="privacy-policy-data-number">3. &nbsp;&nbsp;&nbsp; Debug products to identify and repair errors
                that impair existing intended functionality. </p>
            <p class="privacy-policy-data-number">4. &nbsp;&nbsp;&nbsp; Exercise free speech, ensure the right of
                another consumer to exercise their free speech rights, or exercise another right provided for by law.
            </p>
            <p class="privacy-policy-data-number">5. &nbsp;&nbsp;&nbsp; Comply with the California Electronic
                Communications Privacy Act (Cal. Penal Code § 1546, et seq.). </p>
            <p class="privacy-policy-data-number">6. &nbsp;&nbsp;&nbsp; Engage in public or peer-reviewed scientific,
                historical, or statistical research in the public interest that adheres to all other applicable ethics
                and privacy laws, when the information’s deletion may likely render impossible or seriously impair the
                research’s achievement, if you previously provided informed consent. </p>
            <p class="privacy-policy-data-number">7. &nbsp;&nbsp;&nbsp; Enable solely internal uses that are reasonably
                aligned with consumer expectations based on your relationship with us.</p>
            <p class="privacy-policy-data-number">8. &nbsp;&nbsp;&nbsp; Comply with a legal obligation. </p>
            <p class="privacy-policy-data-number">9. &nbsp;&nbsp;&nbsp; Make other internal and lawful uses of that
                information that are compatible with the context in which you provided it.</p>


        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">Exercising Access, Data Portability, and Deletion Rights</p>
            <p class="privacy-policy-data-text"> To exercise the access, data portability, and deletion rights described
                above, please submit a verifiable consumer request to us by either:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Phone: +1 (888) 914-9661 PIN: 846 453</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Visiting
                        www.centurycommunities.com</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">E-mailing us as
                        privacyofficer@centurycommunities.com</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">ending mail to us at Century Communities, Attn:
                        Privacy Officer 8390 E. Crescent Parkway, Suite 650, Greenwood Village, Colorado 80111.</p>
                </li>
            </ul>

            <p class="privacy-policy-data-text">Only you or a person registered with the California Secretary of State
                that you authorize to act on your behalf, may make a verifiable consumer request related to your
                personal information.
                <br><br>
                You may also make a verifiable consumer request on behalf of your minor child.
                <br><br>
                You may only make a verifiable consumer request for access or data portability twice within a 12-month
                period. The verifiable consumer request must:
            </p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Provide sufficient information that allows us
                        to reasonably verify you are the person about whom we collected personal information or an
                        authorized representative.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Describe your request with sufficient detail
                        that allows us to properly understand, evaluate, and respond to it.</p>
                </li>
            </ul>
            <p class="privacy-policy-data-text">We cannot respond to your request or provide you with personal
                information if we cannot verify your identity or authority to make the request and confirm the personal
                information relates to you.
                <bR><bR>
                Making a verifiable consumer request does not require you to create an account with us. We will only use
                personal information provided in a verifiable consumer request to verify the requestor’s identity or
                authority to make the request. For instructions on exercising sale opt-out rights, see Personal
                Information Sales Opt-Out and Opt-In Rights, below.
            </p>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">RESPONSE TIMING AND FORMAT</p>
            <p class="privacy-policy-data-text">We endeavor to respond to a verifiable consumer request within
                forty-five (45) days of its receipt. If we require more time (up to 90 days), we will inform you of the
                reason and extension period in writing.
                <br><br>
                If you have an account with us, we will deliver our written response to that account. If you do not have
                an account with us, we will deliver our written response by mail or electronically, at your option.
                <br><br>
                Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer
                request’s receipt. The response we provide will also explain the reasons we cannot comply with a
                request, if applicable. For data portability requests, we will select a format to provide your personal
                information that is readily useable and should allow you to transmit the information from one entity to
                another entity without hindrance.
                <br><br>
                We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive,
                repetitive, or manifestly unfounded. If we determine that the request warrants a fee, we will tell you
                why we made that decision and provide you with a cost estimate before completing your request.
            </p>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">PERSONAL INFORMATION SALES OPT-OUT AND OPT-IN RIGHTS</p>
            <p class="privacy-policy-data-text">If you are 16 years of age or older, you have the right to direct us to
                not sell your personal information at any time (the “right to opt-out”). We do not sell the personal
                information of consumers we actually know are less than 16 years of age, unless we receive affirmative
                authorization (the “right to opt-in”) from either the consumer who is between 13 and 16 years of age or
                the parent or guardian of a consumer less than 13 years of age. Consumers who opt-in to personal
                information sales may opt-out of future sales at any time.
                <br><br>
                To exercise the right to opt-out, you (or your authorized representative) may submit a request to us by
                visiting the following Internet Web page link:
                <br><br>
                Do Not Sell My Personal Information
                Once you make an opt-out request, we will wait at least twelve (12) months before asking you to
                reauthorize personal information sales. However, you may change your mind and opt back in to personal
                information sales at any time by e-mailing Century at privacyofficer@centurycommunities.com
                <br><br>
                You do not need to create an account with us to exercise your opt-out rights. We will only use personal
                information provided in an opt-out request to review and comply with the request.
            </p>
        </div>

        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">Non-discrimination</p>
            <p class="privacy-policy-data-text">We will not discriminate against you for exercising any of your CCPA
                rights. Unless permitted by the CCPA, we will not:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Deny you goods or services.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Charge you different prices or rates for goods
                        or services, including through granting discounts or other benefits, or imposing penalties.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Provide you a different level or quality of
                        goods or services.
                    </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Suggest that you may receive a different price
                        or rate for goods or services or a different level or quality of goods or services.</p>
                </li>
            </ul>
            <p class="privacy-policy-data-text">However, we may offer you certain financial incentives permitted by the
                CCPA that can result in different prices, rates, or quality levels. Any CCPA-permitted financial
                incentive we offer will reasonably relate to your personal information’s value and contain written terms
                that describe the program’s material aspects. Participation in a financial incentive program requires
                your prior opt in consent, which you may revoke at any time. Contact Information
                <br><br>
                If you have any questions or comments about this notice, the ways in which Century collects and uses
                your information described herein, your choices and rights regarding such use, or wish to exercise your
                rights under California law, please do not hesitate to contact us at:
                <br><br>
                Phone: +1 (888) 914-9661 PIN: 846 453
                <br><br>
                Website: www.centurycommunities.com
                <br><br>
                Email: privacyofficer@centurycommunities.com
                <br><br>
                Postal Address:<br>
                Century Communities<br>
                Attn: Privacy Officer<br>
                8390 E. Crescent Parkway, Suite 650<br>
                Greenwood Village, Colorado 80111
            </p>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">YOUR NEVADA PRIVACY RIGHTS AND CHOICES</p>
            <p class="privacy-policy-data-text">If you are a Nevada resident, Nevada law may provide you with additional
                rights regarding our use of your personal information. To learn more about your Nevada privacy rights,
                see the following portions of this Privacy Policy.
                <bR><br>
                This privacy notice for Nevada residents supplements the information contained in the previous portions
                of this privacy policy and applies solely to all visitors, users, and others who reside in the State of
                Nevada (“consumers” or “you”). We adopt this notice to comply with the Nevada Privacy Law and any terms
                defined in the Nevada Privacy Law have the same meaning when used in this notice.
                <bR><br>
                The Nevada Privacy Law provides consumers (Nevada residents) with specific rights regarding their
                personal information. This section describes your rights and explains how to exercise those rights.
            </p>

        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">PERSONAL INFORMATION SALES OPT-OUT RIGHTS</p>
            <p class="privacy-policy-data-text">You have the right to direct us to not sell your personal information we
                have collected or will collect at any time (the “right to opt-out”). The categories of covered
                information we collect are as follows:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Your first and last name.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Your home or other physical address which
                        includes the name of a street and the name of a city or town.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Your electronic mail address.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Your telephone number.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Your social security number.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">An identifier that allows you to be contacted
                        either physically or online.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Any other information concerning you collected
                        from your through Century’s Internet website or online service and maintained by Century in
                        combination with an identifier in a form that makes the information personally identifiable.</p>
                </li>

            </ul>
            <p class="privacy-policy-data-text"> To exercise the right to opt-out, you (or your authorized
                representative) may submit a request to us by visiting the following Internet Web page link: Do Not Sell
                My Personal Information
                <br><br>
                Once you make an opt-out request, you may change your mind and opt back in to personal information sales
                at any time by e-mailing Century at privacyofficer@centurycommunities.com
                <br><br>
                You do not need to create an account with us to exercise your opt-out rights. We will only use personal
                information provided in an opt-out request to review and comply with the request.
                <br><br>
                We endeavor to respond to an opt-out request within sixty (60) days of its receipt. If we reasonably
                believe we require more time (up to 30 days), we will inform you of the extension period in writing.
                <br><br>
                If you have an account with us, we will deliver our written response to that account. If you do not have
                an account with us, we will deliver our written response by mail or electronically, at your option.
                Contact Information
                <br><br> If you have any questions or comments about this notice, the ways in which Century collects and
                uses your information described herein, your choices and rights regarding such use; wish to exercise
                your rights under Nevada law to review and request changes to your covered information we collected; or,
                want to submit a verified request please do not hesitate to contact us at:
            </p>

            <br><br>
            Phone: +1 (888) 914-9661 PIN: 846 453
            <br>
            Website: www.centurycommunities.com
            <br>
            Email: privacyofficer@centurycommunities.com
            <br>
            Postal Address:<br>
            Century Communities<br>
            Attn: Privacy Officer<br>
            8390 E. Crescent Parkway, Suite 650<br>
            Greenwood Village, Colorado 80111<br>
        </div>

        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">PERSONAL INFORMATION SALES OPT-OUT RIGHTS</p>
            <p class="privacy-policy-data-text">
                We have implemented measures designed to secure your personal information from accidental loss and from
                unauthorized access, use, alteration, and disclosure. All information you provide to us is either stored
                on our secure servers behind firewalls, or is retained by third-party providers. We make no
                representations as to the adequacy of data security provided by third-parties.<br><br>
                The safety and security of your information also depends on you. Where we have given you (or where you
                have chosen) a password for access to certain parts of our Website, you are responsible for keeping this
                password confidential. We ask you not to share your password with anyone.
            </p>
            <p class="privacy-policy-data-bold">UNFORTUNATELY, THE TRANSMISSION OF INFORMATION VIA THE INTERNET IS NOT
                COMPLETELY SECURE. ALTHOUGH WE DO OUR BEST TO PROTECT YOUR PERSONAL INFORMATION, WE CANNOT GUARANTEE THE
                SECURITY OF YOUR PERSONAL INFORMATION TRANSMITTED TO OUR WEBSITE. ANY TRANSMISSION OF PERSONAL
                INFORMATION IS AT YOUR OWN RISK. WE ARE NOT RESPONSIBLE FOR CIRCUMVENTION OF ANY PRIVACY SETTINGS OR
                SECURITY MEASURES CONTAINED ON THE WEBSITE.</p>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">CHANGES TO OUR PRIVACY POLICY</p>
            <p class="privacy-policy-data-text">Century reserves the right to amend this Privacy Notice at our
                discretion and at any time. It is our policy to post any changes we make to our privacy policy on this
                page. If we make material changes to how we treat our users’ personal information, we will notify you
                through a notice on the Website home page. The date the privacy policy was last revised is identified at
                the top of the privacy policy. You are responsible for ensuring we have an up-to-date active and
                deliverable email address for you, and for periodically visiting our Website and this Privacy Policy to
                check for any changes. Your continued use of our Website following the posting of changes constitutes
                your acceptance of such changes.</p>

        </div>