<div class="privacy">
    <div class="privacy-policy">
        <p class="privacy-policy-heading">Privacy Policy</p>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">Introduction</p>
            <p class="privacy-policy-data-text">Century Communities, Wade Jurney Homes and their subsidiaries and
                affiliated entities (“Century” or
                “Company” or “We”) respect your privacy and are committed to protecting it through our compliance with
                this Privacy Policy.
                <br><br>
                This policy describes the types of information we may collect from you or that you may provide when you
                visit the website centurycommunities.com or wadejurneyhomes.com (collectively, our "Website"),
                information we may collect through our other business dealings, as well as our practices for collecting,
                using, maintaining, protecting, and disclosing that information.
                <br><br>
                This policy applies to information we collect:
            </p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> On this Website.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> On each community specific website.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> In email, text, and other electronic messages
                        between you and our employees, you and this Website,
                        or a community specific website.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">For funding and purchasing activities. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Through our home buyer surveys.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Through our customer satisfaction surveys.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Through warranty activities.
                    </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Through service and work order requests.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Through registration forms and cards.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Through third party platforms.</p>
                </li>
            </ul>
            <p class="privacy-policy-data-text">It does not apply to information collected by:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> On this Website.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> On each community specific website.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> In email, text, and other electronic messages
                        between
                        you and our employees, you and this Website,
                        or a community specific website.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> For funding and purchasing activities.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Through our customer satisfaction surveys.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Through service and work order requests.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Through registration forms and cards.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Through third party platforms.</p>
                </li>

            </ul>
            <p class="privacy-policy-data-text">It does not apply to information collected by:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Any third party, including through any
                        application or
                        content (including advertising) that may link
                        to or be accessible from the Website, unless otherwise noted.</p>
                </li>
            </ul>
            <p class="privacy-policy-data-text">Please read this policy carefully to understand our policies and
                practices regarding your information and
                how we will treat it. If you do not agree with our policies and practices, your choice is not to use our
                Website. By accessing or using this Website, you agree to this Privacy Policy and our Terms and
                Conditions of Use of this Website, which can be found here
                https://www.centurycommunities.com/privacy-policy/terms-of-use. This Privacy Policy may change from time
                to time (see Changes to our Privacy Policy, which is located near the end of this privacy policy). Your
                continued use of this Website after we make changes is deemed to be acceptance of those changes, so
                please check the policy periodically for updates.</p>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">NOTICE TO CALIFORNIA RESIDENTS</p>
            <p class="privacy-policy-data-text">Additional privacy policies, specifically developed and maintained for
                California residents, are found within this Privacy Policy. The sections within this Privacy Policy
                relating specifically to California residents is found in the section entitled “Your California Privacy
                Rights,” which can be found below.</p>

        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">NOTICE TO Nevada RESIDENTS</p>
            <p class="privacy-policy-data-text">Additional privacy policies, specifically developed and maintained for
                Nevada residents, are found within this Privacy Policy. The sections within this Privacy Policy relating
                specifically to Nevada residents is found in the section entitled “Your Nevada Privacy Rights,” which
                can be found below. Children Under the Age of 18
                <br><br>
                Our Website is not intended for children under 18 years of age. No one under age 18 may provide any
                information to or on the Website. We do not knowingly collect personal information from children under
                18. If you are under 18, do not use or provide any information on this Website, register on the Website,
                or provide any information about yourself to us, including your name, address, telephone number, email
                address, or any screen name or user name you may use. If we learn we have collected or received personal
                information from a child under 18 without verification of parental consent, we will delete that
                information. If you believe we might have any information from or about a child under 18, please contact
                us at privacyofficer@centurycommunities.com
                <br><br>
                California residents under 16 years of age may have additional rights regarding the collection and sale
                of their personal information. Please see the section entitled “Your California Privacy Rights,” which
                can be found below, for more information.
            </p>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading"> Children under the age of 18</p>
            <p class="privacy-policy-data-text">Our Website is not intended for children under 18 years of age. No one
                under age 18 may provide any information to or on the Website. We do not knowingly collect personal
                information from children under 18. If you are under 18, do not use or provide any information on this
                Website, register on the Website, or provide any information about yourself to us, including your name,
                address, telephone number, email address, or any screen name or user name you may use. If we learn we
                have collected or received personal information from a child under 18 without verification of parental
                consent, we will delete that information. If you believe we might have any information from or about a
                child under 18, please contact us at privacyofficer@centurycommunities.com
                <br><br>
                California residents under 16 years of age may have additional rights regarding the collection and sale
                of their personal information. Please see the section entitled “Your California Privacy Rights,” which
                can be found below, for more information.
            </p>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">INFORMATION WE COLLECT ABOUT YOU ON THIS WEBSITE AND HOW WE COLLECT
                IT</p>
            <p class="privacy-policy-data-text">We collect several types of information from and about users of our
                Website, including information:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> By which you and any co-buyers may be
                        personally identified, such as first name, last name, title, home telephone number, cell phone
                        number, e-mail address, street address, city, zip code, lot number, metropolitan location,
                        state, date of birth, social security number, Online ID, industry, preferred method of contact,
                        and emergency contact (“personal information”).</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Total annual household income, whether you rent
                        or own, whether you are working with a realtor, as well as their name, company, and e-mail, loan
                        type preference, whether you are pre-qualified for a loan (if so, the prequalification letter,
                        the name of the loan officer and his or her e-mail, the lender name, and whether you are rolling
                        in closing costs), whether you are paying in cash (if so, an asset statement less than 30 days
                        old), whether you are relocating, whether you chatted with an online representative, whether
                        your current home listed with a realtor, and preferred appointment date and time. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> When a credit card or debit card is run,
                        billing street address, billing city, billing state, and credit card or debit card number.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Purchasing preferences, such as area of
                        interest, community of interest, residence of interest, quick move-in of interest, and new home
                        preferences, such as price range, bedrooms, bathrooms, square footage, when would you like to be
                        in your new home, type of home, and other specified amenities. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> As to realtors, first name, last name, office
                        telephone number, e-mail address, street address, city, zip code, metropolitan location, and
                        community.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Any additional information you provide to us.
                    </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> About your internet connection, including the
                        equipment you use to access our Website, usage details, and geolocation.</p>
                </li>

            </ul>
            <p class="privacy-policy-data-text">We collect this information:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> Directly from you when you provide it to us.
                    </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">Automatically as you navigate through the site.
                        Information collected automatically may include usage details, IP address, and information
                        collected through cookies and other tracking technologies. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">From third parties, for example, our website
                        management vendor and lead generators. </p>
                </li>

            </ul>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">THIRD-PARTY USE OF COOKIES AND OTHER TRACKING TECHNOLOGIES </p>
            <p class="privacy-policy-data-text">Some content or applications, including advertisements, on the Website
                are served by third parties, including advertisers, ad networks and servers, content providers, and
                application providers. These third parties may use cookies, alone or in conjunction with web beacons or
                other tracking technologies, to collect information about you when you use our website. The information
                they collect may be associated with your personal information or they may collect information, including
                personal information, about your online activities over time and across different websites and other
                online services. They may use this information to provide you with interest-based (behavioral)
                advertising, or other targeted content.
                <br><br>
                We do not control these third parties’ tracking technologies or how they may be used. If you have any
                questions about an advertisement or other targeted content, you should contact the responsible provider
                directly. For information about how you can opt out of receiving targeted advertising from many
                providers, see the section entitled Choices About How We Use and Disclose Your Information, which can be
                found below.
            </p>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">HOW WE USE YOUR INFORMATION </p>
            <p class="privacy-policy-data-text">We use information that we collect about you or that you provide to us,
                including any personal information:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To present our Website and its contents to you.
                    </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To provide you with information, products, or
                        services that you request from us.
                    </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To place you on interest lists or VIP lists for
                        direct marketing, including e-mail blasts </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To verify funding, lending, and referral
                        payments. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To refer you to a prequalification process.
                    </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To monitor your behavior, with respect to
                        geolocations. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> To assign a demographic to an individual once
                        they have made a purchase.</p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To conduct sales and marketing analysis. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To determine important factors influencing a
                        customer’s purchase. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To fulfill any other purpose for which you
                        provide it. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To notify you about changes to our Website or
                        any products or services we offer or provide though it. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To assist with improving customer satisfaction.
                    </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To assist with warranty activities and service
                        and work order requests. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">In any other way we may describe when you
                        provide the information. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">For any other purpose with your consent. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> </p>
                </li>

            </ul>
        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">DISCLOSURE OF YOUR INFORMATION</p>
            <p class="privacy-policy-data-text">We strive to provide you with choices regarding the personal information
                you provide to us. We have created mechanisms to provide you with the following control over your
                information:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> To our subsidiaries and affiliates. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text"> To our outside marketing consultant. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To our outside lending and escrow/title
                        companies. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To our outside survey companies. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To other outside contractors, service
                        providers, and third parties we use to support our business. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To a buyer or other successor in the event of a
                        merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of
                        some or all of Century’s assets, whether as a going concern or as part of bankruptcy,
                        liquidation, or similar proceeding, in which personal information held by Century about our
                        Website users is among the assets transferred. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To fulfill the purpose for which you provide
                        it. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">For any other purpose disclosed by us when you
                        provide the information.
                    </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">For any other purpose with your consent. </p>
                </li>

            </ul>
            <p class="privacy-policy-data-text">We may also disclose your personal information:</p>
            <ul class="privacy-policy-data-unorderList">
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To comply with any court order, law, or legal
                        process, including to respond to any government or regulatory request. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">To enforce or apply our Terms and Conditions of
                        Use of this Website https://www.centurycommunities.com/privacy-policy/terms-of-use and other
                        agreements. </p>
                </li>
                <li class="privacy-policy-data-unorderList-list">
                    <p class="privacy-policy-data-unorderList-list-text">If we believe disclosure is necessary or
                        appropriate to protect the rights, property, or safety of Century, our customers, or others.
                        This includes exchanging information with other companies and organizations for the purposes of
                        fraud protection and credit risk reduction. </p>
                </li>
            </ul>

        </div>
        <div class="privacy-policy-data">
            <p class="privacy-policy-data-heading">YOUR CALIFORNIA PRIVACY RIGHTS</p>
            <p class="privacy-policy-data-text">If you are a California resident, California law may provide you with
                additional rights regarding our use of your personal information. To learn more about your California
                privacy rights, see the following portions of this Privacy Policy.
                <br><br>
                California’s “Shine the Light” law (Civil Code section 1798.83) permits users of our Website that are
                California residents to request certain information regarding our disclosure of personal information to
                third parties for their direct marketing purposes. To make such a request, please send an email to
                privacyofficer@centurycommunities.com or write us at: Century Communities, Attn: Privacy Officer 8390 E.
                Crescent Parkway, Suite 650, Greenwood Village, Colorado 80111.
                <br><br>
                This privacy notice for California residents supplements the information contained in the previous
                portions of this privacy policy and applies solely to all visitors, users, and others who reside in the
                State of California (“consumers” or “you”). We adopt this notice to comply with the California Consumer
                Privacy Act of 2018 (CCPA) and any terms defined in the CCPA have the same meaning when used in this
                notice.
            </p>

            <p class="privacy-policy-data-heading">INFORMATION WE COLLECT</p>
            <p class="privacy-policy-data-text">For your convenience, you may consult the chart below to see what
                information we have collected about you in the prior 12 months.</p>
        </div>
        <!-- <div class="privacy-policy-cont">

            <div class="privacy-policy-cont-table">
                <div class="privacy-policy-cont-table-data">
                    <p class="privacy-policy-cont-table-data-heading">Category</p>
                    <div class="privacy-policy-cont-table-data-box">
                        <p class="privacy-policy-cont-table-data-box-data1">Identifiers</p>
                        <p class="privacy-policy-cont-table-data-box-data2">Personal information categories listed in
                            the California Customer Records statute (Cal. Civ. Code § 1798.80(e))</p>
                        <p class="privacy-policy-cont-table-data-box-data3">Purchasing Preferences</p>
                        <p class="privacy-policy-cont-table-data-box-data4">Commercial Information</p>
                        <p class="privacy-policy-cont-table-data-box-data5">Internet or other similar network activity
                        </p>
                    </div>
                </div>
            </div>
            <div class="privacy-policy-cont-table">
                <div class="privacy-policy-cont-table-data">
                    <p class="privacy-policy-cont-table-data-heading">What we may collect</p>
                    <div class="privacy-policy-cont-table-data-box">
                        <p class="privacy-policy-cont-table-data-box-data1">First name, last name, telephone numbers,
                            e-mail address, postal address, social security number, driver’s license number, and Online
                            ID.</p>
                        <p class="privacy-policy-cont-table-data-box-data2">Name, telephone number, address, social
                            security number, Online ID, industry, preferred method of contact, and emergency contact.
                            Employment status, total annual household income, whether you rent or own, and whether you
                            are pre-qualified for a loan.</p>
                        <p class="privacy-policy-cont-table-data-box-data3">Purchasing preferences, such as area of
                            interest, community of interest, residence of interest, quick move-in of interest, and new
                            home preferences, such as price range, bedrooms, bathrooms, square footage, when would you
                            like to be in your new home, type of home, and other specified amenities.
                            <bR><br>
                            Whether you are relocating, whether you chatted with an online representative, whether your
                            current home listed with a realtor, and preferred appointment date and time.
                        </p>
                        <p class="privacy-policy-cont-table-data-box-data4">Loan information and property records.</p>
                        <p class="privacy-policy-cont-table-data-box-data5">Internet browsing history, internet search
                            history, and website interaction information.</p>
                    </div>
                </div>
            </div>
            <div class="privacy-policy-cont-table">
                <div class="privacy-policy-cont-table-data">
                    <p class="privacy-policy-cont-table-data-heading">How collected</p>
                    <div class="privacy-policy-cont-table-data-box">
                        <p class="privacy-policy-cont-table-data-box-data1">Through the website, in-person, written in a
                            completed form, application or other written correspondence, web chat, by telephone, and/or
                            a third-party survey company.</p>
                        <p class="privacy-policy-cont-table-data-box-data2">Through the website, in-person, written in a
                            completed form, application or other written correspondence, web chat, and/or by telephone.
                        </p>
                        <p class="privacy-policy-cont-table-data-box-data3">Through the website, in-person, written in a
                            completed form, application or other written correspondence, web chat, and/or by telephone.
                        </p>
                        <p class="privacy-policy-cont-table-data-box-data4">Through the website, in-person, written in a
                            completed form, application or other written correspondence.</p>
                        <p class="privacy-policy-cont-table-data-box-data5">Through the website.</p>
                    </div>
                </div>
            </div>
            <div class="privacy-policy-cont-table">
                <div class="privacy-policy-cont-table-data">
                    <p class="privacy-policy-cont-table-data-heading">Reason for collection</p>
                    <div class="privacy-policy-cont-table-data-box">
                        <p class="privacy-policy-cont-table-data-box-data1">To market a service or product to you or
                            complete a transaction for you, marketing and promotional efforts, statistically analyze
                            website usage, improve website content and product offerings and customize website content,
                            layout, and services.</p>
                        <p class="privacy-policy-cont-table-data-box-data2">To market a service or product to you or
                            complete a transaction for you, marketing and promotional efforts, statistically analyze
                            website usage, improve website content and product offerings, and customize website content,
                            layout, and services.</p>
                        <p class="privacy-policy-cont-table-data-box-data3">To market a service or product to you or
                            complete a transaction for you and marketing and promotional efforts.</p>
                        <p class="privacy-policy-cont-table-data-box-data4">To market a service or product to you or
                            complete a transaction for you.</p>
                        <p class="privacy-policy-cont-table-data-box-data5">To market a service or product to you or
                            complete a transaction for you, marketing and promotional efforts, statistically analyze
                            website usage, improve website content and product offerings and customize website content,
                            layout and services.</p>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="privacy-policy-information">
            <div class="privacy-policy-information-data">
                <p class="privacy-policy-information-data-heading">DISCLOSURES OF PERSONAL INFORMATION FOR A BUSINESS
                    PURPOSE</p>
                <p class="privacy-policy-information-data-text">We may use or disclose the personal information we
                    collect for one or more of the following business
                    purposes:</p>
            </div>
            <div class="privacy-policy-information-data-box">
                <div class="privacy-policy-information-data-box-table">
                    <p class="privacy-policy-information-data-box-table-heading">Category</p>
                    <div class="privacy-policy-information-data-box-table-content">
                        <p class="privacy-policy-information-data-box-table-content-text1">Identifiers</p>
                        <p class="privacy-policy-information-data-box-table-content-text2">Personal information
                            categories
                            listed in the California Customer Records statute (Cal. Civ. Code
                            § 1798.80(e))</p>
                        <p class="privacy-policy-information-data-box-table-content-text3">Purchasing Preferences</p>
                    </div>



                </div>
                <div class="privacy-policy-information-data-box-table">
                    <p class="privacy-policy-information-data-box-table-heading">What we may Disclose</p>
                    <div class="privacy-policy-information-data-box-table-content">
                        <p class="privacy-policy-information-data-box-table-content-text1">Name, postal address, IP
                            address, and
                            email address.</p>
                        <p class="privacy-policy-information-data-box-table-content-text2">Name, social security number,
                            address, telephone number, and employment status.</p>
                        <p class="privacy-policy-information-data-box-table-content-text3">Purchasing preferences, such
                            as area
                            of interest, community of interest, residence of interest, quick move-in of interest, and
                            new
                            home preferences, such as price range, bedrooms, bathrooms, square footage, when would you
                            like
                            to be in your new home, type of home, and other specified amenities.</p>
                    </div>
                </div>


                <div class="privacy-policy-information-data-box-table">
                    <p class="privacy-policy-information-data-box-table-heading">What Kind of Third Parties Do We
                        Disclose Your
                        Information to?</p>
                    <div class="privacy-policy-information-data-box-table-content">
                        <p class="privacy-policy-information-data-box-table-content-text1">Our customer relationship
                            management
                            software pubvendor, escrow agents, lenders, contractors, subcontractors, Best Buy, service
                            software vendors and our survey company.
                            <br><bR>
                            We may also disclose this information to third party marketing vendors..
                        </p>
                        <p class="privacy-policy-information-data-box-table-content-text2">Our customer relationship
                            management
                            software vendor, escrow agents, lenders, contractors, subcontractors, Best Buy, service
                            software
                            vendors and our survey company.
                            <br><bR>
                            We may also disclose this information to third party marketing vendors, our customer
                            relationship management software vendor, and our home lending software vendors
                        </p>
                        <p class="privacy-policy-information-data-box-table-content-text3">We disclose this information
                            to our
                            resource planning software, sales software, and service software vendors..</p>
                    </div>
                </div>

                <div class="privacy-policy-information-data-box-table">
                    <p class="privacy-policy-information-data-box-table-heading">Business Purpose for Disclosure</p>
                    <div class="privacy-policy-information-data-box-table-content">
                        <p class="privacy-policy-information-data-box-table-content-text1">We disclose this information
                            to our
                            customer relationship management software vendor to assist with our customer relationship
                            management.
                            <br><bR>
                            We disclose contact information to escrow agents and lenders so they know who you are, and
                            how
                            to reach you for the purposes of a transaction between you and Century.
                            <br><bR>
                            We may also disclose contact information to contractors and subcontractors so they can
                            contact
                            you and respond to requests for warranty work.
                            <br><bR>
                            We disclose contact information Best Buy if you decide you want their assistance with smart
                            home
                            automation systems.
                            <br><bR>
                            We disclose contact information to contractors and subcontractors so they can contact you
                            and
                            respond to requests for warranty work.
                            <br><bR>
                            We disclose this information to our resource planning software, sales software, and service
                            software vendors to assist with resource planning, sales efforts, and servicing efforts.
                            <br><bR>
                            We disclose this information to our survey company to assist with our surveys.
                            <br><bR>
                            We disclose this information to third party marketing vendors to assist with our marketing
                            efforts.
                        </p>
                        <p class="privacy-policy-information-data-box-table-content-text2">We disclose contact
                            information to
                            escrow agents and lenders so they know who you are, and how to reach you for the purposes of
                            a
                            transaction between you and Century. We may also disclose contact information to contractors
                            and
                            subcontractors so they can contact you and respond to requests for warranty work. We
                            disclose
                            contact information Best Buy if you decide you want their assistance with smart home
                            automation
                            systems. We disclose contact information to contractors and subcontractors so they can
                            contact
                            you and respond to requests for warranty work. We disclose this information to third party
                            marketing vendors to assist with our marketing efforts. We disclose this information to our
                            customer relationship management software vendor to assist with our customer relationship
                            management. We disclose this information to our home lending software vendors to assist our
                            customers with obtaining loans.</p>
                        <p class="privacy-policy-information-data-box-table-content-text3">We disclose this information
                            to our
                            resource planning software, sales software, and service software vendors to assist with
                            resource
                            planning, sales efforts, and servicing efforts. We disclose this information to our survey
                            company to assist with our surveys.</p>
                    </div>
                </div>
            </div>
        </div> -->


    </div>
</div>