<div class="question">
    <div class="question-form">
        <p class="question-form-heading">RSVP</p>
        <p class="question-form-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
            laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvina.</p>

        <div class="question-form-upper">
            <div class="question-form-upper-left">
                <p class="question-form-upper-left-first">First name*</p>
                <input type="text" placeholder="Enter first name" class="question-form-upper-left-input">
            </div>
            <div class="question-form-upper-right">
                <p class="question-form-upper-right-last">Last name*</p>
                <input type="text" placeholder="Enter last name" class="question-form-upper-right-input">
            </div>
        </div>
        <div class="question-form-middle">
            <div class="question-form-middle-left">
                <p class="question-form-middle-left-text">Phone*</p>
                <input type="text" placeholder="Enter phone number" class="question-form-middle-left-input">
            </div>
            <div class="question-form-middle-right">
                <p class="question-form-middle-right-email">Email*</p>
                <input type="text" placeholder="Enter email address" class="question-form-middle-right-input">
            </div>
        </div>

        <div class="question-form-message">
            <p class="question-form-message-text">Message</p>
            <input type="text" placeholder="Enter your question or comment " class="question-form-message-input">
        </div>
        <div class="question-form-bottom">
            <div class="question-form-bottom-left">
                <p class="question-form-bottom-left-text">Preferred contact method</p>
                <div class="question-form-bottom-left-box">
                    <input type="checkbox" class="question-form-bottom-left-box-checkbox">Phone
                    <input type="checkbox" class="question-form-bottom-left-box-checkbox">Text
                    <input type="checkbox" class="question-form-bottom-left-box-checkbox">Email
                </div>
            </div>
            <div class="question-form-bottom-right">
                <img src="../../images/Image 34.png" class="question-form-bottom-right-img" alt="">
            </div>
        </div>
        <p class="question-form-submit">Submit</p>
        <p class="question-form-offer">*Offer fine print goes here.
            **Available only on the purchase of a to-be-built home in the Century Communities Carolinas Division
            above when you sign a contract on or before 06/15/2020. **Receipt of up to $3,000 towards closing costs
            is contingent upon buyer closing a loan with our affiliated lender, Inspire Home Loans, and is subject
            to limits. Any incentive to use Inspire Home Loans may not exceed 3% of sales price. The offer to pay
            closing costs does not include payment of prepaid taxes, property or mortgage insurance, or mortgage
            installments. Persons in photos do not reflect racial preference and housing is open to all without
            regard to race, color, religion, sex, handicap, familial status or national origin. Prices, plans, and
            terms are effective on the date of publication and subject to change without notice. Depictions of homes
            or other features are artist conceptions. Hardscape, landscape, and other items shown may be decorator
            suggestions that are not included in the purchase price and availability may vary. Inspire Home Loans
            Inc. NMLS# 1564276 © 05/2020 Century Communities, Inc. *Receipt of up to $25,000 off basement incentive
            is available only on the purchase of a home mentioned above when you sign a contract on or before
            06/30/2020. Prices, plans, and terms are effective on the date of publication and subject to change
            without notice. Depictions of homes or other features are artist conceptions. Persons in photos do not
            reflect racial preference and housing is open to all without regard to race, color, religion, sex,
            handicap, familial status or national origin. Hardscape, landscape, and other items shown may be
            decorator suggestions that are not included in the purchase price and availability may vary. © 06/2020
            Century Communities, Inc</p>
    </div>
</div>
</div>