.pathsix {

    background-color: $white-two;


    &-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &-heading {
            margin-top: 77px;
            font-family: $CharterITCStd;
            font-size: 35px;
            line-height: 1.03;
            text-align: center;
            font-weight: 400;
        }

        &-bttn {

            @include button;
            margin-top: 20px;
            margin-bottom: 89px;

            &:hover {
                background-color: $light-purple;

            }
        }
    }
}
