.footer {
    padding-top: 64px;
    padding-bottom: 47px;
    padding-left: 78px;
    padding-right: 79px;
    background-color: $light-gray;
    width: 100%;

    &-cont {

        &-upper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // padding-left: 80px;
            // padding-right: 80px;
            // padding-top: 30px;
            // padding-bottom: 10px;


            &-links {
                &-heading {

                    font-family: $ProximaNova;
                    font-size: 13px;
                    line-height: 5.77;
                    letter-spacing: 1.95px;
                    text-align: left;

                }

                &-text {

                    &:hover {
                        text-decoration: underline;
                    }
                }


                &-btm {

                    &-img {
                        padding-top: 40px;
                        padding-right: 20px;
                    }
                }

                &-grernal {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 90px;

                    @include max-screen(md) {
                       gap:20px
                       }
                    &-left {
                        margin: 0px;
                        margin-left: 5px;

                        &-text {

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &-right {
                        margin: 0px;

                        &-text {


                            &:hover {
                                text-decoration: underline;
                            }

                        }
                    }
                }
            }
        }

        &-bttm {

            padding-top: 20px;
           
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            &-lower {
                display: flex;
                flex-wrap: wrap;
                


                &-left {
                    font-size: 30px;
                    &-img {
                        max-height: 16px;
                        padding-right: 15px;
                        padding-top: 15px;
                      

                    }
                }

                &-right {
                    display: flex;
                    align-items: center;
                    max-height: 16px;
             padding-bottom: 20px;
                    padding-top: 15px;
                    &-img {
                        padding-left: 10px;
                    }

                }
            }

            &-right {

                display: flex;
                float: right;
                flex-direction: column;
                padding-top: 15px;

                &-text1 {
                    text-decoration: underline;
                }


            }
        }

    }
}
