.bg {
    background-color: $different-white;
display: flex;
    &-pathTwo {
     
        background-color: $different-white;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
       

        &-left {
            width: 50%;
            @include max-screen(md) {
             width: 100%;
            }
            &-img {

                // max-height: 500px;
                width: 100%;
            }
            
            
        }

        &-right {
            width: 50%;
            padding: 60px;
            
            @include max-screen(md) {
             width: 100%;
            }
            &-heading {
                font-family: $ProximaNova;
                font-size: 19px;

                line-height: 1.26;
                letter-spacing: 2.85px;
                text-align: left;
                color: $grape-purple;
                padding-bottom: 20px;

            }

            &-text {
                padding-top: 0px;
                font-family: $CharterITCStd;
                font-size: 23px;
                line-height: 1.48;
                text-align: left;


            }

            &-img {
                padding-top: 30px;
            }
        }
    }
}
