.bg2 {
    background-color: $white-two;
    display: flex;
    &-pathThree {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: $white-two;




        &-left {

            width: 50%;

            @include max-screen(md) {
                width: 100%;
            }

            &-div {
                padding: 60px;
            }

            &-heading {
                font-family: $ProximaNova;
                font-size: 19px;
                line-height: 1.26;
                letter-spacing: 2.85px;
                text-align: left;
                color: $grape-purple;
            }

            &-text {
                margin: 0;
                padding-top: 50px;
                font-family: $CharterITCStd;
                font-size: 23px;
                line-height: 1.48;
                text-align: left;
                color: $black-two;

            }

            &-lower {
                align-items: baseline;
                margin-top: 36px;
                display: flex;
                gap: 5px;

                &-icon {
                    color: $grape-purple;
                    font-size: 13px
                }

                &-text {
                    color: $grape-purple;
                    font-size: 13px
                }
            }

        }

        &-right {
            margin-left: 30px;
            width: 45%;
            background-image: url("../../images/Screen Shot 2020-06-11 at 5.49.27 PM.png");
            background-size: cover;
            background-repeat: no-repeat;
            max-height: 500px;

            min-height: 500px;
display: flex;
            align-items: center;
            justify-content: center;

            @include max-screen(md) {
                width: 100%;
            }

            &-i {
                color: $white;
                font-size: 128px;
                opacity: .8;
            }


        }

        &-hidden {
            display: none;
            position: absolute;
            // display: flex;
            // text-align: center;
            // justify-content: center;
            right: 350px;
            z-index: 1;
            box-shadow: 2px 10px 10px 10px $light-gray;

            &-icon {
                position: absolute;
                z-index: 1;
                color: gold;
                font-size: 30px;
                right: -30px;


            }

            &-video {}

        }

    }
}