.offer {

    &-data {
        display: flex;
        width: 100%;
        @include max-screen(lg){
            display: flex;
            flex-wrap: wrap;
        }

        &-left {
            width: 20%;
            margin-left: 50px;
          

            &-img {
                margin-top: 60px;
           
             padding-bottom: 30px;
                border-bottom: 2px solid $white-two;
               
             &-pic{
              width: 60%;
                @include max-screen(lg){
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  }
                  @include max-screen(sm){
               width: 100%;
                }
             }
             @include max-screen(lg){
                width: 70%;
                margin-top: 1px;
                margin-left: -20px;
              }
            }

            &-heading {
                margin: 60px 12px 30px 20px;
                font-family: $ProximaNova;
                font-size: 13px;
                font-weight: bold;
                line-height: 1.38;
                letter-spacing: 1.3px;
                text-align: left;
            }

            &-text {
                margin: 26px 47px 19px 20px;
                font-family: $ProximaNova;
                font-size: 15px;
                line-height: 1.6;
                text-align: left;

            }

            &-download {
                border-bottom: 2px solid $white-two;
                padding-bottom: 30px;
                margin-left: 24px;
                
                &-img {
                    color: $grape-purple;
                }

                &-pdf {
                    margin: 0 0 0 0px;
                    font-family: $ProximaNova;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 2.31;
                    text-align: left;
                    text-decoration: none;
                    color: $grape-purple;
                    font-weight: 700px;

                    &:hover{
                        color: $grape-purple;
                    }
                   
                }
                @include max-screen(sm){
              
               width: 50%;
                }
            }
      
            @include max-screen(lg){
                width: 100%;
        

              }
              
        }

       
        &-right {
            width: 70%;
            margin-left: 66px;
            &-heading {
                margin: 60px 62px 40px 47px;
               text-transform: uppercase;
                font-weight: bold;
               
                font-family: $ProximaNova;
                font-size: 19px;
                line-height: 1.26;
                letter-spacing: 2.85px;
                text-align: left;
                color: $grape-purple;
            }

            &-offer {

                margin: 60px 189px 26px 48px;
                font-family: $CharterITCStd;
                font-size: 35px;
                line-height: 1.03;
                text-align: left;
                @include max-screen(lg){
                    margin: 60px 20px 26px 8px;
                }
                @include max-screen(sm){
                    margin: 60px 20px 26px 8px;
                }
            }

            &-text {
                margin: 30px 189px 2px 48px;
                font-family: $ProximaNova;
                font-size: 15px;
                line-height: 1.6;
                text-align: left;
                @include max-screen(lg){
                    margin: 60px 20px 26px 8px;
                }
                @include max-screen(sm){
                    margin: 60px 20px 26px 8px;
                }
            }

            &-bttn {
                margin-left: 50px;
                margin-bottom: 59px;
                margin-top: 40px;
                @include button;
                @include max-screen(sm){
                   margin-left: 10px;
                }
            }

            @include max-screen(lg){
                width: 100%;
               
              }
        }
    }

}