<header class="header">
    <div class="header__container__left">

        <div class="header__container__left-logo">
            <img src="../../images/logo.png"
            
            alt="">

            <div class="header__container__left-logo-icon">
                <button class="fas fa-bars  header__container__left-logo-icon-bar  cross1"></button>
            </div>
        </div>

        

            <ul class="header__container__left-nav-links">
                <li class="header__container__left-nav-links-li">
                    <a href="#" class="header__container__left-nav-links-li-ancer  navbar">HOMEBUYERS</a>
                <ul class="header__container__left-nav-links-li-ancer-hidden homeb">
                    <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Homebuying Process</a></li>
                    <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Online Homebuying</a></li>
                    <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Our Affiliates</a></li>
                    <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Blog: The Front Porch</a></li>
                </ul>
                </li>
                <li class="header__container__left-nav-links-li"><a href="#" class="header__container__left-nav-links-li-ancer  navbar">Homeowners</a>
                    <ul class="header__container__left-nav-links-li-ancer-hidden  homeb">
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Maintenance Videos</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Caring For Your Home</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Customer Service</a></li>
                    </ul></li>
                <li class="header__container__left-nav-links-li"><a href="#" class="header__container__left-nav-links-li-ancer   navbar">Discover Century</a>
                    <ul class="header__container__left-nav-links-li-ancer-hidden  homeb">
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">About Us</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Century Home Connect</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Careers</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Homeowner Reviwes</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Vendor Partners</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">News</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Investors</a></li>
                    </ul></li>
                <li class="header__container__left-nav-links-li"><a href="#" class="header__container__left-nav-links-li-ancer   navbar">Contact us</a>
                    <ul class="header__container__left-nav-links-li-ancer-hidden   homeb">
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">General Inquiry</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Land Submission</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Media</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Our Offices</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Realtors</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Trade Partners</a></li>
                        <li class="header__container__left-nav-links-li-ancer-hidden-list"><a href="#" class="header__container__left-nav-links-li-ancer-hidden-list-inner">Warrenty Claim</a></li>
                    </ul>
                </li>
                
            </ul>

        

    </div>

    <div class="header__container__right">

            <div class="header__container__right-div">
                <input type="search" name="" id="" class="form-control header__container__right-div-input">
                <i class="fas fa-search"></i>
            </div>

            <div class="header__container__right-vl">
            </div>

          <div class="header__container__right-map-container">
            <p class="header__container__right-p">Or use our map</p>

            <img src="../../images/map-icon.png"  alt="" >


    </div>

    

</header>