<div class="careers">
    <div class="careers-data">
        <div class="careers-data-left">
            <div class="careers-data-left-dream">
                <p class="careers-data-left-dream-heading">Careers</p>
                <p class="careers-data-left-dream-text">Build your dream career with Century Communities.</p>
            </div>
            <div class="careers-data-left-public">
                <p  class="careers-data-left-public-text">Take your career to the next level with one of the nation’s top public homebuilders—featuring
                    operations in locations across the United States. We offer competitive compensation, benefits, and
                    401(k) options, and our fast-growing environment provides ample opportunity for growth. Explore our
                    job openings today!</p>
                    <p  class="careers-data-left-public-bttn">See current opportunities</p>
            </div>
        </div>
        <div class="careers-data-right">
        </div>
    </div>
</div>