<footer class="footer   ">
    <div class="footer-cont container-xl">
        <div class="footer-cont-upper">
            <div class="footer-cont-upper-links">
                <h5 class="footer-cont-upper-links-heading">Homebuyers</h5>
                <p class="footer-cont-upper-links-text">Homebuying Process</p>
                <p class="footer-cont-upper-links-text"> Our Affiliates</p>
                <p class="footer-cont-upper-links-text"> Blog</p>
                <div class="footer-cont-upper-links-btm">
                    <img src="../../images/Group 1084.png" class="footer-cont-upper-links-btm-img" alt="">
                    <img src="../../images/Group 1085.png" class="footer-cont-upper-links-btm-img" alt="">
                    <img src="../../images/Group 1086.png" class="footer-cont-upper-links-btm-img" alt="">
                </div>

            </div>
            <div class="footer-cont-upper-links">
                <h5 class="footer-cont-upper-links-heading"> Homeowners</h5>
                <p class="footer-cont-upper-links-text">Maintenance Videos</p>
                <p class="footer-cont-upper-links-text"> Caring for Your New Home</p>
                <p class="footer-cont-upper-links-text">Customer Service</p>
            </div>
            <div class="footer-cont-upper-links">
                <h5 class="footer-cont-upper-links-heading">Discover century</h5>
                <p class="footer-cont-upper-links-text">About Us</p>
                <p class="footer-cont-upper-links-text">Century Home Connect</p>
                <p class="footer-cont-upper-links-text"> Homeowner Reviews</p>
                <p class="footer-cont-upper-links-text"> News</p>
                <p class="footer-cont-upper-links-text">Careers</p>
                <p class="footer-cont-upper-links-text"> Investors</p>
            </div>
            <div div class="footer-cont-upper-links">
                <h5 class="footer-cont-upper-links-heading">Contact Us</h5>
                <div class="footer-cont-upper-links-grernal">
                    <div class="footer-cont-upper-links-grernal-left">
                        <p class="footer-cont-upper-links-grernal-left-text">General Inquiry</p>
                        <p class="footer-cont-upper-links-grernal-left-text"> Land Submission</p>
                        <p class="footer-cont-upper-links-grernal-left-text"> Media</p>
                        <p class="footer-cont-upper-links-grernal-left-text"> Our Offices</p>
                    </div>
                    <div class="footer-cont-upper-links-grernal-right">
                        <p class="footer-cont-upper-links-grernal-left-text">Realtors</p>
                        <p class="footer-cont-upper-links-grernal-left-text"> Trade Partners</p>
                        <p class="footer-cont-upper-links-grernal-left-text">Warranty Claim</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-cont-bttm">
            <div class="footer-cont-bttm-lower">
                <div class="footer-cont-bttm-lower-left">
                    <img src="../../images/toggle_brands.png" class="footer-cont-bttm-lower-left-img" alt="a">
                    <img src="../../images/Path 1531.png" class="footer-cont-bttm-lower-left-img" alt="">
                    <img src="../../images/Path 1502_2.png" class="footer-cont-bttm-lower-left-img" alt="">
                    <img src="../../images/Group 1171_2.png"  class="footer-cont-bttm-lower-left-img" alt="">
                    <img src="../../images/Path 1538_2.png" class="footer-cont-bttm-lower-left-img" alt="">


                </div>
                <div class="footer-cont-bttm-lower-right">
                    <img src="../../images/logo_century-complete.png" class="footer-cont-bttm-lower-right-img" alt="">
                    <img src="../../images/Path 1531.png" class="footer-cont-bttm-lower-right-img" alt="">
                    <img src="../../images/Path 1502_2.png" class="footer-cont-bttm-lower-right-img" alt="">
                    <img src="../../images/Group 1171_2.png" class="footer-cont-bttm-lower-right-img" alt="">
                    <img src="../../images/Path 1538_2.png" class="footer-cont-bttm-lower-right-img" alt="">

                </div>
            </div>
            <div class="footer-cont-bttm-right">
                <p class="footer-cont-bttm-right-text1">Privacy Policy &nbsp &nbsp | Terms Of Use | Exercise My Rights</p>
                <p class="footer-cont-bttm-right-text">© 2020 CENTURY COMMUNITIES, All Rights Reserved.</p>

            </div>
        </div>

    </div>


</footer>