<div class="bluecard">
    <div class="bluecard-data">
        <div class="bluecard-data-left">
            <div class="bluecard-data-left-card">
                <p  class="bluecard-data-left-card-text">“My favorite part was choosing the interior options at the design center. Everything around closing &
                    move-in went smooth and painless.”</p>
                <div  class="bluecard-data-left-card-link">
                    <p  class="bluecard-data-left-card-link-left">Ryan H. | </p>
                    <p  class="bluecard-data-left-card-link-right">Las Vegas, NV</p>
                </div>
            </div>
            <div  class="bluecard-data-left-card">
                <img src="../../images/735541.png"  class="bluecard-data-left-card-img" alt="">
                <p  class="bluecard-data-left-card-text">“Buying our Century Complete home was super easy. We love our new space and the location is great!”
                </p>
                <div  class="bluecard-data-left-card-link">
                    <p  class="bluecard-data-left-card-link-left">The Walker Family | </p>
                    <p  class="bluecard-data-left-card-link-right">Weeki Wachee, FL</p>
                </div>
            </div>
            <div  class="bluecard-data-left-card">
                <p  class="bluecard-data-left-card-text">“The availability and cordiality of the personnel in the office and the customer relations
                    representative were excellent. They were always available whether in or out of the office (via text,
                    email, or phone). The team was enthusiastic to answer questions, accommodating, and almost as
                    excited as we were to be moving into one of their homes.”</p>
                <div  class="bluecard-data-left-card-link">
                    <p  class="bluecard-data-left-card-link-left">Brandon G. | </p>
                    <p  class="bluecard-data-left-card-link-right">ATlanta, GA</p>
                </div>
            </div>
        </div>
        <div  class="bluecard-data-mid">
            <div class="bluecard-data-mid-card">
                <p  class="bluecard-data-mid-card-text">“My favorite part was choosing the interior options at the design center. Everything around closing &
                    move-in went smooth and painless.”</p>
                <div  class="bluecard-data-mid-card-link">
                    <p  class="bluecard-data-mid-card-link-left">Ryan H. | </p>
                    <p  class="bluecard-data-mid-card-link-right">Las Vegas, NV</p>
                </div>
            </div>
            <div  class="bluecard-data-mid-card">
                <p  class="bluecard-data-mid-card-text">“After visiting several new home builders, very pleased we chose Century Communities. Exceptional
                    features and experience!”</p>
                <div  class="bluecard-data-mid-card-link">
                    <p  class="bluecard-data-mid-card-link-left">Kevin H. | </p>
                    <p  class="bluecard-data-mid-card-link-right"> Austin, TX</p>
                </div>
            </div>
            <div class="bluecard-data-mid-card">
                <img src="../../images/3160372.png" class="bluecard-data-mid-card-img" alt="">
                <p class="bluecard-data-mid-card-text">“Buying our Century Complete home was super easy. We love our new space and we’re so close to grandma
                    now!”</p>
                <div class="bluecard-data-mid-card-link">
                    <p class="bluecard-data-mid-card-link-left"> The Walker Family | </p>
                    <p class="bluecard-data-mid-card-link-right"> Weeki Wachee, FL</p>
                </div>
            </div>
            <div class="bluecard-data-mid-card">
                <p class="bluecard-data-mid-card-text">They were always available whether in or out of the office (via text, email, or phone). The team was
                    enthusiastic to answer questions, accommodating, and almost as excited as we were to be moving into
                    one of their homes.” </p>
                <div class="bluecard-data-mid-card-link">
                    <p class="bluecard-data-mid-card-link-left"> Brandon G. | </p>
                    <p class="bluecard-data-mid-card-link-right"> ATlanta, GA </p>
                </div>
            </div>

        </div>
        <div class="bluecard-data-right">

            <div class="bluecard-data-right-card">
                <img src="../../images/2105150 (1) (1).png" class="bluecard-data-right-card-img" alt="">
                <p class="bluecard-data-right-card-text">“We have a huge family so finding a place with 8 bedrooms was difficult — we are so happy we found
                    our Century home!” </p>
                <div class="bluecard-data-right-card-link">
                    <p class="bluecard-data-right-card-link-left">The Barber Family |</p>
                    <p class="bluecard-data-right-card-link-right"> Lehi, UT </p>
                </div>
            </div>
            <div class="bluecard-data-right-card">
                <p class="bluecard-data-right-card-text"> “The home checked off almost all the requirements I had in purchasing a home, and I really didn’t
                    think I could afford to purchase a home, especially a new build.”</p>

                <div class="bluecard-data-right-card-link">
                    <p class="bluecard-data-right-card-link-left">Beth B. |</p>
                    <p class="bluecard-data-right-card-link-right">Hickory, NC </p>
                </div>

            </div>
            <div class="bluecard-data-right-card">
                <p class="bluecard-data-right-card-text"> “I was surprised how simple the purchase process was—completely online! It was very convenient and
                    the response time was very quick.”</p>
                <div class="bluecard-data-right-card-link">
                    <p class="bluecard-data-right-card-link-left">Danielle F. | </p>
                    <p class="bluecard-data-right-card-link-right">Dothan, AL </p>
                </div>
            </div>

        </div>
    </div>
</div>