<div class="reviewscard">
    <div class="reviewscard-data">
        <div class="reviewscard-data-left">
            <div class="reviewscard-data-left-firstvisitor">
                <img src="../../images/social-not-used_resized_900x675-resized.png"
                    class="reviewscard-data-left-firstvisitor-img" alt="">
                <p class="reviewscard-data-left-firstvisitor-text">“We LOVE our new Century home — and our new community.
                    Everyone has been so welcoming.”</p>
                <div class="reviewscard-data-left-firstvisitor-place">
                    <p class="reviewscard-data-left-firstvisitor-place-left">The Suarez-Pittman Family | </p>
                    <p class="reviewscard-data-left-firstvisitor-place-right"> NewPort Beach, CA</p>
                </div>
            </div>

            <div class="reviewscard-data-left-fourthvisitor">
                <p class="reviewscard-data-left-fourthvisitor-text">“Working with the Century Communities team members has been a
                    very pleasant and easy experience, they
                    have been very quick to respond to our needs!”</p>
                <div class="reviewscard-data-left-fourthvisitor-place">
                    <p class="reviewscard-data-left-fourthvisitor-place-left">Scott M. | </p>
                    <p class="reviewscard-data-left-fourthvisitor-place-right">Houston, TX</p>
                </div>
            </div>
            <div class="reviewscard-data-left-seventhvisitor">
                <p class="reviewscard-data-left-seventhvisitor-text">“The availability and cordiality of the personnel in the
                    office and the customer relations representative
                    were excellent. They were always available whether in or out of the office (via text, email, or phone).
                    The team was enthusiastic to answer questions, accommodating, and almost as excited as we were to be
                    moving into one of their homes.”</p>
                <div class="reviewscard-data-left-seventhvisitor-place">
                    <p class="reviewscard-data-left-seventhvisitor-place-left">Brandon G. | </p>
                    <p class="reviewscard-data-left-seventhvisitor-place-right"> ATlanta, GA</p>
                </div>
            </div>
            

        </div>
        <div class="reviewscard-data-midd" >
            <div class="reviewscard-data-midd-secondvisitor">
                <p class="reviewscard-data-midd-secondvisitor-text">“After visiting several new home builders, very pleased we
                    chose Century Communities. Exceptional
                    features and experience!”</p>
                <div class="reviewscard-data-midd-secondvisitor-place">
                    <p class="reviewscard-data-midd-secondvisitor-place-left">Kevin H. | </p>
                    <p class="reviewscard-data-midd-secondvisitor-place-right"> Austin, TX</p>
                </div>
            </div>

            <div class="reviewscard-data-midd-fifthvisitor">
                <p class="reviewscard-data-midd-fifthvisitor-text">“The availability and cordiality of the personnel in the
                    office and the customer relations representative
                    were excellent. They were always available whether in or out of the office (via text, email, or phone).
                    The team was enthusiastic to answer questions, accommodating, and almost as excited as we were to be
                    moving into one of their homes.”</p>
                <div class="reviewscard-data-midd-fifthvisitor-place">
                    <p class="reviewscard-data-midd-fifthvisitor-place-left">Brandon G. | </p>
                    <p class="reviewscard-data-midd-fifthvisitor-place-right"> ATlanta, GA</p>
                </div>
            </div>
            <div class="reviewscard-data-midd-eightthvisitor">

                <img src="../../images/austin happy homeowners7-resized3.png" class="reviewscard-data-midd-eightthvisitor-img"
                    alt="">
                <p class="reviewscard-data-midd-eightthvisitor-text">“The best part of our experience was, without a doubt, the
                    team involved and the people we interacted with. They were interested in our desires from the start
                    through to the end and even after move-in!”</p>
                <div class="reviewscard-data-midd-eightthvisitor-place">
                    <p class="reviewscard-data-midd-eightthvisitor-place-left">Mitch & Family | </p>
                    <p class="reviewscard-data-midd-eightthvisitor-place-right"> Austin, TC</p>
                </div>
            </div>
        </div>
        
        <div  class="reviewscard-data-right">
        <div class="reviewscard-data-right-thirdvisitor">
            <img src="../../images/2105150 (1).png" class="reviewscard-data-right-thirdvisitor-img" alt="">
            <p class="reviewscard-data-right-thirdvisitor-text">“We have a huge family so finding a place with 8 bedrooms was
                difficult — we are so happy we found our Century home!”</p>
            <div class="reviewscard-data-right-thirdvisitor-place">
                <p class="reviewscard-data-right-thirdvisitor-place-left">The Barber Family | </p>
                <p class="reviewscard-data-right-thirdvisitor-place-right">Lehi, UT</p>
            </div>
        </div>

     
      
        <div class="reviewscard-data-right-sixthvisitor">
            <img src="../../images/221240.png" class="reviewscard-data-right-sixthvisitor-img" alt="">
            <p class="reviewscard-data-right-sixthvisitor-text">“The communication was excellent! The entire team from sales
                to construction, contract coordinators and
                the Title Company all made this home buying experience great.”</p>
            <div class="reviewscard-data-right-sixthvisitor-place">
                <p class="reviewscard-data-right-sixthvisitor-place-left">Sarah L. |</p>
                <p class="reviewscard-data--rightsixthvisitor-place-right">Denver, CO</p>
            </div>
        </div>
     
      
        <div class="reviewscard-data-right-ninthvisitor">
            <p class="reviewscard-data-right-ninthvisitor-text">“There is no one best part. We’ve really enjoyed working with
                everyone throughout the entire process. Everyone has been incredibly helpful and very professional. It
                has exceeded my expectations on every level.”</p>
            <div class="reviewscard-data-right-ninthvisitor-place">
                <p class="reviewscard-data-right-ninthvisitor-place-left">Eli B. |</p>
                <p class="reviewscard-data-right-ninthvisitor-place-right">Littleton, CO</p>
            </div>
        </div>
        </div>
    </div>
</div>